
.brand-logo {
   margin-left: 15px;
   padding-top: 0 25px;
   font-weight: bold;
   letter-spacing: 1px;
   color:whitesmoke;
   text-shadow: -2px 2px 2px rgb(80, 201, 185) ;   
}

.background-img {
   background-image: url("../images/heroPic.jpg");
   height: 200px;
   border-bottom: 1px solid #9e9e9e;
   border-top: 1px solid #9e9e9e;
}

.hero-title {
   margin: 0 0;
   padding-left: 0;
   padding-top: 35px;
   font-weight: bold;
   letter-spacing: 8px;

   /* Option 1: White Theme on app text ---------- */
   /* color:white; */
   /* text-shadow: -2px 2px 1px rgb(80, 201, 185) ;     */
   /* Option 1: -----------------------------------*/

   /* Option 2: Default Black Theme on app text----*/
   text-shadow: -2px 2px 1px whitesmoke;
   /* Option 2:------------------------------------*/
   
}

.submit-btn {
   font-size: 25px;
   border-radius: 10px;
}

.recipe-box, .unit-box {
   margin-top: 20px;
   border: 1px dashed #9e9e9e; border-radius: 5px;
   padding-right:0;
} 

.recipe-box p{
   text-align: right;
   margin: 0 5px 0 0;
   padding: 0 5px 0 0;
}

.recipe-box a{
   margin: 0 5px;
   padding: 0 10px;
}

.unit-box {
   justify-content: flex-end;
}

label {
   font-size: 1rem;
   padding-right: 10px;
}

select {
   font-size: .9rem;
   padding: 2px 2px;
   max-width: 14%;
   display: inline-block;
   margin: 0 10px 10px 0;
   list-style: none;
}

.scrollable {
   scroll-snap-type: y mandatory !important;
   overflow-y: scroll !important;
   height: 670px;
   width: 100% !important;
   background-color: transparent;
   overflow-y: auto !important;
   min-height: 600px;
   margin: 10px 0 0 0;
   padding: 0;
   }

   #target_recipe::-webkit-scrollbar-track
   {
   border: 1px solid #dddfdf;
   background-color:  whitesmoke;
   }

   #target_recipe::-webkit-scrollbar
   {
   width: 9px !important;
   background-color: #9e9e9e;
   }

   #target_recipe::-webkit-scrollbar-thumb
   {
   background-color: #9e9e9e;
   background-image: -webkit-gradient(linear,
                   left bottom,
                   left top,
                   color-stop(0.78, #363636),
                   color-stop(0.57, #9e9e9e),
                   color-stop(0.30, #363636));
   }

 