.brand-logo {
    margin-left: 15px;
    padding-top: 0 25px;
    font-weight: bold;
    letter-spacing: 1px;
    color:whitesmoke;
    text-shadow: -2px 2px 2px rgb(80, 201, 185) ;   
}

.background-img {
    background-image: url("../images/heroPic.jpg");
    height: 200px;
    border-bottom: 1px solid #9e9e9e;
    border-top: 1px solid #9e9e9e;
}

.hero-title {
    margin: 0 0;
    padding-left: 0;
    padding-top: 35px;
    font-weight: bold;
    letter-spacing: 8px;
    color:white;
    text-shadow: -2px 2px 1px rgb(80, 201, 185) ;    
    
}
.submit-btn {
  font-size: 25px;
  border-radius: 10px;
  background-color: #81d4fa;

}

.recipe-box, .unit-box {
    margin-top: 20px;
    border: 1px dashed #9e9e9e; border-radius: 5px;
    padding-right:0;
} 

.recipe-box p{
    text-align: right;
    margin: 0 5px 0 0;
    padding: 0 5px 0 0;
}

.recipe-box a{
    margin: 0 5px;
    padding: 0 10px;
 }

.recipe-box .quantity_line{
    border: none;
    background-color: transparent;    
    width: 98%;    
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 7px 2px;
    padding: 6px 0 ;
    text-align: left;  
    min-width: 200px;
}

.ingredient_list{
    padding: 0 0 7px 0;
}
  
.recipe-box .quantity_line:hover{
    border: none;
    background-color: #f2f2f2;
    border-radius: 5px;     
    width: 98%;   
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 7px 2px;
    padding: 6px 0 ;
    text-align: left;     
    min-width: 200px;
}
 
.unit-box {
    justify-content: flex-end;
}

.unit-box .quantity_line{    
    border: 0 solid;
    background-color: #f2f2f2;
    width: 98%;    
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 17px 2px;
    padding: 8px 0 ;
    text-align: left;  
    min-width: 200px;     
}

.unit-box .quantity_line:hover{
    border-radius: 5px;  
    border: none !important;
    background-color: transparent; 
    width: 98%;   
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 17px 2px;
    padding: 8px 0 ;
    text-align: left;     
    min-width: 200px;
}

/* .unit-box ul, li{
    background-color: #f2f2f2;
    width: 98%;
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 7px 2px;
    padding: 6px 0 ;
    text-align: left;
    list-style: none;
} */

label {
    font-size: 1rem;
    padding-right: 10px;
}

select {
    font-size: .9rem;
    padding: 2px 2px;
    max-width: 14%;
    display: inline-block;
    margin: 0 10px 10px 0;
    list-style: none;
}

.scrollable {
    scroll-snap-type: y mandatory !important;
    overflow-y: scroll !important;
    height: 670px;
    width: 100% !important;
    background-color: transparent;
    overflow-y: auto !important;
    min-height: 600px;
    margin: 10px 0 0 0;
    padding: 0;
    }

#target_recipe::-webkit-scrollbar-track
{
border: 1px solid #dddfdf;
background-color:  whitesmoke;
}

#target_recipe::-webkit-scrollbar
{
width: 9px !important;
background-color: #9e9e9e;
}

#target_recipe::-webkit-scrollbar-thumb
{
background-color: #9e9e9e;
background-image: -webkit-gradient(linear,
                left bottom,
                left top,
                color-stop(0.78, #363636),
                color-stop(0.57, #9e9e9e),
                color-stop(0.30, #363636));
}

  
