body {
    background: linear-gradient(#edf7fc, transparent);
  
  }

.brand-logo {
    margin-left: 15px;
    padding-top: 0 25px;
    font-weight: bold;
    letter-spacing: 2px;
    color:whitesmoke;
    /* text-shadow: -2px 2px 2px rgb(80, 201, 185) ;    */
    font-family: 'Francois One', sans-serif;
    text-shadow: -2px 2px 2px  #0376ac;
   
}

.background-img {
    background-image: url("../images/heroPic.jpg");
    height: 200px;
    border-bottom: 1px solid #9e9e9e;
    border-top: 1px solid #9e9e9e;
}

.hero-title {
    margin: 0 0;
    padding-left: 0;
    padding-top: 35px;
    font-weight: bold;
    letter-spacing: 8px;
    color:white;
    text-shadow: -2px 2px 1px rgb(80, 201, 185) ;    
    
}

header {
    position: sticky;
}

/* footer {
    background-color: #9e9e9e !important;
} */

.submit-btn {
  font-size: 25px;
  border-radius: 7px;
  background-color: #81d4fa;

}

.submit-btn:hover {
    font-size: 25px;
    border-radius: 10px;
    background-color: #9e9e9e;
  
  }

.search-field{
    color: #4e4e4e;
}

input:focus{
    color:#28a191
}

.recipe-box, .unit-box, .msg-box{
    margin-top: 20px;
    border: 1px dashed #9e9e9e; border-radius: 5px;
    padding-right:0;
} 

.msg-box{
    padding-top: 20px;
}

.recent-box{
    margin-top: 20px;
    height: 125px;
    min-height: 70px;
    padding-right:0;
   
}

.recipe-box p{
    text-align: right;
    margin: 0 5px 0 0;
    padding: 0 5px 0 0;
}

.recipe-box a{
    margin: 0 5px;
    padding: 0 10px;
 }

.recipe-box .quantity_line, .quanity_line_nutrient{
    border: none;
    background-color: transparent;    
    width: 98%;    
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 4px 2px;
    padding: 6px 0 ;
    text-align: left;  
    min-width: 200px;
}

.ingredient_list, .nutrient_list{
    padding: 0 0 7px 0;
}
  
.recipe-box .quantity_line:hover, .quanity_line_nutrient:hover{
    border: none;
    background-color: #f2f2f2;
    border-radius: 5px;     
    width: 98%;   
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 4px 2px;
    padding: 6px 0 ;
    text-align: left;     
    min-width: 200px;
}
 
.unit-box {
    justify-content: flex-end;
}

.unit-box .quantity_line {    
    border: 0 solid;
    background-color: #f2f2f2;
    width: 98%;    
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 17px 2px;
    padding: 8px 0 ;
    text-align: left;  
    min-width: 200px;     
}

.unit-box .quantity_line:hover{
    border-radius: 5px;  
    border: none !important;
    background-color: white;
    width: 98%;   
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 17px 2px;
    padding: 8px 0 ;
    text-align: left;     
    min-width: 200px;
}

label {
    font-size: 1rem;
    padding-right: 10px;
}

select {
    font-size: .9rem;
    padding: 2px 2px;
    max-width: 15%;
    display: inline-block;
    margin: 0 10px 10px 0;
    list-style: none;
}

.history{
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    padding: 5px 5px;
    height: 25px !important;
    /* width: 15%; */
    display: inline-block; /*to save space*/
    text-shadow: 1px 1px 1px white;
    margin: 3px 5px  3px 0;
    border-radius: 3px !important;
    color:#0376ac; /*rgb(222, 253, 253);*/
    border: 1px solid #0499df;
    background-color: #99dcfb ;
    cursor: crosshair;
  }

.history_alt{
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    padding: 5px 7px;
    height: 25px !important;
    display: inline-block; /*to save space*/
    text-shadow: 1px 1px 1px white;
    margin: 3px 5px 3px 0;
    border-radius: 3px !important;
    color:  #33776e;
    border: 1px solid #28a191;
    background-color: #aff7ed;
    cursor: crosshair;
  }  

.scrollable {
    scroll-snap-type: y mandatory !important;
    overflow-y: scroll !important;
    height: 880px;
    width: 100% !important;
    background-color: transparent;
    overflow-y: auto !important;
    min-height: 800px;
    margin: 10px 0 0 0;
    padding: 0;
    }

#target_recipe::-webkit-scrollbar-track
{
border: 1px solid #dddfdf;
background-color:  whitesmoke;
}

#target_recipe::-webkit-scrollbar
{
width: 9px !important;
background-color: #9e9e9e;
}

#target_recipe::-webkit-scrollbar-thumb
{
background-color: #9e9e9e;
background-image: -webkit-gradient(linear,
                left bottom,
                left top,
                color-stop(0.78, #363636),
                color-stop(0.57, #9e9e9e),
                color-stop(0.30, #363636));
}

#target_converting_line::-webkit-scrollbar-track
{
border: 1px solid #dddfdf;
background-color:  whitesmoke;
}

#target_converting_line::-webkit-scrollbar
{
width: 9px !important;
background-color: #9e9e9e;
}

#target_converting_line::-webkit-scrollbar-thumb
{
background-color: #9e9e9e;
background-image: -webkit-gradient(linear,
                left bottom,
                left top,
                color-stop(0.78, #363636),
                color-stop(0.57, #9e9e9e),
                color-stop(0.30, #363636));
}
/* (1) MEDIA QUERY FOR SMALLER DESKTOP SCREENS */
/* BREAK-POINT 980PX ------------------------- */
@media screen and (max-width: 980px) { 
    .brand-logo {
        margin-left: 10px;
        padding-top: 0 10px;
        font-size: 20px !important;
    }
    .hero-title {
        padding-top: 50px;
        font-size: 42px;
        letter-spacing: 6px;
    }
         
}

 /* (2) MEDIA QUERRY FOR 768 BREAKPPOINT --------*/
 @media screen and (max-width: 768px) { 
    .brand-logo {
        margin-left: 5px !important;
        padding-top: 0 10px;
        font-size: 16px !important;
    }   
    .hero-title {
        padding-top: 65px;
        font-size: 34px;
        letter-spacing: 6px;
    }
         
 }
 
/* (3) MEDIA QUERY FOR SCREENS LESS THAN 575 -----*/
@media screen and (max-width: 575px) {
    .brand-logo {
        margin-left: 5px !important;
        display: inline;
        font-size: 10px !important;
    }
    .hero-title {
        padding-top: 70px;
        font-size: 26px;
        letter-spacing: 6px;
    }

    .submit-btn {
        font-size: 15px;
        padding: 5px 10px ;
        height: 45px;
      }
    
}

  
