.brand-logo {
  margin-left: 15px;
}
.background-img {
  background-image: url("../images/heroPic.jpg");
  height: 200px;
}
.hero-title {
  padding-top: 70px;
}
h2 {
  margin: 0 0;
  font-weight: bold;
  letter-spacing: 5px;
}
.search-form {
  /* background-color: #e1f5fe ; */
  padding: 20px 0;
}
.submit-btn {
  font-size: 25px;
  border-radius: 10px;
  background-color: #81d4fa;

}
.submit-btn:hover {
  background-color: rgb(80, 201, 185);
}
.recipe-box,
.unit-box {
  margin-top: 35px;
}

.recipe-contetn ,
.unit-content {
  margin-top: 40px;
}


.content-title {
  border: 5px solid rgb(80, 201, 185);
  border-radius: 20px;
  padding: 10px 0;
}
.container {
  margin-top: 40px;
}

body {
  background-color: 	#FFFFF0;
}