
.brand-logo {
    margin-left: 15px;
}
.background-img {
    background-image: url("../images/heroPic.jpg");
    height: 200px;
}
.hero-title {
    margin: 0 0;
    padding-top: 70px;
    font-weight: bold;
    letter-spacing: 5px;
    
}
.search-form {
   /* background-color: #e1f5fe ; */
    padding: 20px 0;
}
.submit-btn {
    font-size: 25px;
    border-radius: 10px;
}
.recipe-box, .unit-box {
    margin-top: 35px;
} 


.unit-box {
    justify-content: flex-end;
}